@import "tailwindcss";

:root {
  --background: #f7f4eb;
  --primary: #1e4331;
  --accent: #c88d53;
  --darkText: #222222;
  --lightText: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-dark: var(--darkText);
  --color-light: var(--lightText);
  --font-thamaniyah: var(--font-thamaniyah);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #121815;
    --primary: #2d5f47;
    --accent: #d99f65;
    --darkText: #f7f4eb;
    --lightText: #ffffff;
  }
}
